html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: blue;
}

canvas {
  width: 100%;
  height: 100%;
}

#loading {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  color: white;
}
